<!DOCTYPE html>
<html lan="en" and dir="ltr">
    <head>
        <meta charset="utf-8">
        <title> Login Interactivo </title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/style2.css')}}">
        <script src="static/css/cover.jpg"></script>
        

    </head>
    <body>
    <form class="box" action="login.html" method="POST">

    <h1>
        login
    </h1>
    <input type="text" name="" placeholder="Ingresar Usuario" id="username">
    <input type="password" name="" placeholder="Ingresar Contraseña" id="password">
    <input type="submit" name="" value="Login" onclick="validate()">


    </form>    

   
    </body>

</html>
